body {
  background: linear-gradient(to bottom, #F3F3F3, #E0E5FC);

  background-size: 400% 400%;
  animation: gradientAnimation 50s both infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.dogCard_container {
  max-width: 900px;
}

.dogImage_container {
  margin-top: 80px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 1;
}

.dogImage_wrapper {
  flex: 1;
  margin: 0;
}

/* Style each item in the grid */
.dogCard {
  color:rgb(0, 0, 0);
  border: 2px solid rgba(61, 163, 231, 0.021);
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  width: 100%;
}



/* Style the image within the container */
.dogImage {
  cursor:  pointer;
  align-self: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
}

.isPresent {
  border: 1px solid green;
  animation: fadeInOutGreen 5s alternate-reverse infinite;
}


@keyframes fadeInOutGreen {
  0% {
    box-shadow: 0px px 12px rgba(0, 255, 0, 1);
  }
  50% {
    box-shadow: 0px 4px 8px rgba(0, 255, 0, 0.5);
  }
  100% {
    box-shadow: 0px 4px 8px rgba(0, 255, 0, 0);
  }
}



