.dogImage_container {
  margin: 0px auto;
  margin-top: 80px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-auto-rows: 1;
}

.dogImage_wrapper {
  flex: 1;
  margin: 0;
}

/* Style each item in the grid */
.dogCard {
  color:rgb(0, 0, 0);
  border: 2px solid rgba(61, 163, 231, 0.021);
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  width: 100%;
}



/* Style the image within the container */
.dogImage {
  
  cursor:  pointer;
  align-self: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
}

.isPresent{
  box-shadow: 0px 4px 8px rgb(34, 252, 6);
}

.isNotPresent{
  box-shadow: 0px 4px 8px rgb(255, 17, 0);
}