.singleDogCard {

  background-size: 100% 200%;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(7, 8, 8);
  border-radius: 50px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.singleDogCard_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.singleDogCard img {
  border: 2px double rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  width: 80%;
}

.singleDogCard_ownerInfo li {
  text-align: left;
  margin-right: 30px;
}

.atDaycare p {
  color: green;
  animation: pulseGreen 5s ease infinite;
  border-radius: 30px;
}

.atDaycare {
  color: black;
  background: linear-gradient(to right, rgba(0, 255, 0, 0.9), rgba(76, 217, 100, 0.8), rgba(98, 216, 76, 0.7), rgba(138, 216, 63, 0.6));
  background-size: 400% 400%;
  animation: gradientBackground 10s ease infinite;
}

.notAtDaycare{
  color: white;
  background: linear-gradient(to right, rgba(255, 0, 0, 0.9), rgba(217, 76, 76, 0.8), rgba(216, 98, 98, 0.7), rgba(216, 138, 138, 0.6));
  background-size: 400% 400%;
  animation: gradientBackground 10s ease infinite;
}

.singleDogCard hr {
 width: 200%;

}

@keyframes gradientBackground {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}