*,*::after, *::before{
margin: 0;
box-sizing: border-box;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


a:visited {
    color:white;
}
.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 0px 80px;
    align-items: center;
    justify-content: space-around;
    background: rgb(112, 169, 255);
    min-height: 5rem;
}

.nav_container{
    display:flex;

}
.nav_menu {
    display: flex;
    margin: 0px auto;
    gap: 15vw;
}

.nav_brandname{
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 150px;
    position: absolute;
    left: 20px;
    top: 28px;
}


.nav_items {
display: flex;
}



.nav_toggler div {
  justify-self: flex-end;
  width: 2.5rem;
  height: 0.25rem;
  margin: 0.4rem ;
  background-color: white;
  transition: 0.3s ease-in;
}

.nav_toggler{
    cursor:  pointer;
    display: none;
}

@media screen and (max-width: 728px) {


 .nav_toggler{
    position: absolute;
    display:block;
    right: 20px;
    top: 20px;
 }

 .nav_menu {
    position: fixed;
    flex-direction: column;
    padding-top: 5vh;
    padding-bottom: 2vh;
    right: 0;
    width: 30%;
    background: rgb(112, 169, 255);
    flex-direction: column;
    transform: translate(100%);
    transition: 0.3s ease-in;
    gap: 5vh;
    
}

.nav_items {
    padding: 10px;

}

/* Toggler activated */
.navToggler_active {
transform: translate(0%);
}

/* Toggler animation */
.toggle .line1 {
transform: rotate(-45deg) translate(-8px, 7px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
     transform: rotate(45deg) translate(-8px,-7px); 
}

}
