*,*::after, *::before{
margin: 0;
box-sizing: border-box;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


a:visited {
    color:white;
}
.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 0px 80px;
    align-items: center;
    justify-content: space-around;
    background: rgb(112, 169, 255);
    min-height: 5rem;
}

.nav_container{
    display:flex;

}
.nav_menu {
    display: flex;
    margin: 0px auto;
    gap: 15vw;
}

.nav_brandname{
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 150px;
    position: absolute;
    left: 20px;
    top: 28px;
}


.nav_items {
display: flex;
}



.nav_toggler div {
  justify-self: flex-end;
  width: 2.5rem;
  height: 0.25rem;
  margin: 0.4rem ;
  background-color: white;
}

.nav_toggler{
    cursor:  pointer;
    display: none;
}

@media screen and (max-width: 728px) {


 .nav_toggler{
    position: absolute;
    display:block;
    right: 20px;
    top: 20px;

 }

 .nav_items{
    display: none;
 }

}


